<html>
<head>
	<script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script>
        function showImg() {
    		var path = "/images/" + $("#mytext").val() + ".png";
    		$("#map_img").attr("src",path);
            document.getElementById("map_img").style.display = "";
        }

function trainAgain() {
     $.ajax({
        type: 'get',
        url: '/trainAgain',
        success: function(response) {
        	$("#trainAgain").val("Hold on!");
             console.log(response);
        },
        error: function(err) {
             console.log(err);
        }

    });
}
    </script>
</head>
<body>
    <h1>Integer Image Search</h1>
    <h3>Please tell me your favourite integer from 0 to 9!</h3>
    <div>
    <input id="mytext" type="text" name="mytext" required />
    <input type="submit" value="Submit" onclick="showImg()" />
	<form id="trainAgain" action="/" method="GET">
		<button type="submit" value="trainAgain" onclick="trainAgain()">This is wrong!!</button>
	</form>
    </div>
    <div>
    <img id="map_img" src="/images/1.png" style="display: none;" width="400" height="400"/>
    </div>
</body>
</html>